
<row class="row is-table-row" >

  <div class="col-sm-1 ">
    <%= link_to 'Create', new_projectfavlookup_vw_path , class: "btn btn-success"%>
  </div>

  <div class="col-sm-2 ">
    <h4>Listing Projectfavlookup Vws</h4>
  </div>

  <div class="col-sm-3">
    <%= search_form_for @q, class: 'search-form' do |f| %>
      <div class="input-group">
        <%= f.search_field :name_cont, class: 'form-control' %>
        <span class="input-group-btn">
          <button class="btn btn-primary">Search <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 ">
    <%= paginate @projectfavlookup_vws %>
  </div>
  
  <div class="col-sm-2 ">
    <%= page_entries_info @projectfavlookup_vws, :entry_name => 'item' %>
  </div>
  
</row>


<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="1"></th>
            <th>Name</th>
      <th>Number</th>
      <th>Active</th>
      <th>Fave num</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @projectfavlookup_vws.each do |projectfavlookup_vw| %>
      <tr>
        <td>
          <div class="btn-group">
          <%= link_to 'Show', projectfavlookup_vw, class: "btn btn-info", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Edit', edit_projectfavlookup_vw_path(projectfavlookup_vw), class: "btn btn-primary", :style=>'color:#FFFFFF;' %>
          <%= link_to 'Destroy', projectfavlookup_vw, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning", :style=>'color:#FFFFFF;' %>
          </div>
        </td>
        
        <td><%= projectfavlookup_vw.name %></td>
        <td><%= projectfavlookup_vw.number %></td>
        <td><%= projectfavlookup_vw.active %></td>
        <td><%= projectfavlookup_vw.fave_num %></td>
        <td><%= projectfavlookup_vw.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
